<%- include('../partials/header') %>
<h1 class="jumbotron text-center">Add Movie Here</h1>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <form action="/movies" method="POST">
            <!-- <div class="input-group"> -->
            <label for="sel1">Title:</label>
            <input type="text" name="title" autocomplete="off" class="form-control" placeholder="Title">
            <label for="sel1">Year:</label>
            <input type="text" name="year" autocomplete="off" class="form-control" placeholder="Year">
            <!-- <input type="text" name="rating" autocomplete="off" class="form-control" placeholder="rating"> -->
            <div class="form-group">
                <label for="sel1">Rating:</label>
                <select class="form-control" id="sel1">
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                    <option value="NR">NR</option>
                    <option value="NC-17">NC-17</option>
                </select>
              </div>
   
            <!-- </div> -->
            <!-- <span class="input-group-btn"> -->
            <button class="btn btn-success" type="submit">Submit</button>
            <!-- </span> -->
        </form>
    </div>
</div>
<hr>

</body>

</html>