<%- include('../partials/header') %>
    <h1 class="jumbotron text-center">Add Show Here</h1>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <form action="/shows" method="POST">
                <div class="form-group">
                    <label for="sel1">Title:</label>
                    <input type="text" name="title" autocomplete="off" class="form-control" placeholder="Title">
                    <label for="sel1">Network:</label>
                    <input type="text" name="network" autocomplete="off" class="form-control" placeholder="Network">
                    <label for="sel1">Creators:</label>
                    <input type="text" name="creators" autocomplete="off" class="form-control" placeholder="Creators (comma separated)">
                    <label for="sel1">Year:</label>
                    <input type="text" name="year" autocomplete="off" class="form-control" placeholder="Year">
                </div>
                <!-- <span class="input-group-btn"> -->
                    <!-- <br> -->
                    <button class="btn btn-success" type="submit">Submit</button>
                <!-- </span> -->
            </form>
        </div>
    </div>
    <hr>

</body>

</html>